<template>
  <div>
    <b-container class="bv-example-row">
      <b-row>
        <b-col></b-col>
        <b-col class="text-center">
          <b-card
            title="Successfully Registered"
            img-src="https://www.img.in.th/images/631923022720f33c788257c5dce534f4.jpg"
            img-alt="Image"
            img-top
            tag="article"
            style="max-width: 20rem;"
            class="mb-2"
          >
            <b-col class="text-center">
              <b-button href="#" variant="primary" to="/homejobseeker">Go To Sign In</b-button>
            </b-col>
          </b-card>
        </b-col>
        <b-col></b-col>
      </b-row>
    </b-container>
  </div>
</template>
