<template>
  <div><br>
    <b-table striped hover :items="userList" :fields="fields">
      <template v-slot:cell(operation)="data">
        <b-button variant="info" @click="ViewUser(data.item)">view</b-button>
        <template v-if="data.item.status === 'wait'">
          &nbsp;
          <b-button variant="success" @click="confUser(data.item)">Confirm</b-button>
          &nbsp;
          <b-button variant="danger" @click="delUser(data.item)">Cancel</b-button>
        </template>
        <template v-else>
          &nbsp;
          <b-button variant="danger" @click="declineApp(data.item)">Decline</b-button>
        </template>
      </template>
    </b-table>
    <b-modal id="view-jobposting" size="lg" hide-footer>
    <template #modal-title>
      View Job Posting Detail
    </template>
    <div class="d-block text-center">
      <h3>Hello From This Modal!</h3>
    </div>
    <b-button class="mt-3" block @click="$bvModal.hide('view-jobposting')">Close Me</b-button>
  </b-modal>
  <b-modal v-if="form != null" id="modal-1" title="รายละเอียดผู้สมัคร" ok-only>
    <p class="my-4">Name: {{ form.jobseeker.fname }} {{ form.jobseeker.lname }}<br>
     Age: {{ form.jobseeker.age }} years<br>
     Gender: {{ form.jobseeker.gender }}<br>
     Address: {{ form.jobseeker.address }}<br>
     Company: {{ form.jobposting.namecompany }}<br>
     NameJob: {{ form.jobposting.namejob }}<br>
     JobType: {{ form.jobposting.jobtype }}<br>
     Require: {{ form.jobposting.require }} persons
    </p>
  </b-modal>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  data () {
    return {
      userList: [],
      fields: [
        {
          key: 'jobseeker.fname',
          label: 'First Name'
        },
        {
          key: 'jobseeker.lname',
          label: 'Last Name'
        },
        {
          key: 'jobseeker.age',
          label: 'Age'
        },
        {
          key: 'jobposting.namejob',
          label: 'Job'
        },
        {
          key: 'status',
          label: 'Status'
        },
        {
          key: 'operation',
          label: 'Operator'
        }
      ],
      jobposting: {},
      form: null
    }
  },
  methods: {
    ViewUser (user) {
      // console.log('View ')
      // console.log(user)
      this.$bvModal.show('modal-1')
      this.form = { ...user }
    },
    confUser (user) {
      console.log('Confirm ')
      this.boxTwo = ''
      this.$bvModal
        .msgBoxConfirm(
          'ท่านต้องการรับสมัคร ' + user.jobseeker.fname + ' ' + user.jobseeker.lname + ' หรือไม่!!!',
          {
            title: 'กรุณายืนยัน',
            size: 'sm',
            buttonSize: 'sm',
            okVariant: 'danger',
            okTitle: 'YES',
            cancelTitle: 'NO',
            footerClass: 'p-2',
            hideHeaderClose: false,
            centered: true
          }
        )
        .then(value => {
          if (value) {
            axios
              .get('http://localhost:3000/application/confirm/' + user._id)
              .then(res => {
                this.getJobposting()
              })
          }
        })
    },
    delUser (user) {
      console.log('Del ')
      console.log(user)
      this.boxTwo = ''
      this.$bvModal
        .msgBoxConfirm(
          'ท่านต้องการยกเลิกการตรวจสอบของผู้สมัคร ' + user.jobseeker.fname + ' หรือไม่!!!',
          {
            title: 'กรุณายืนยัน',
            size: 'sm',
            buttonSize: 'sm',
            okVariant: 'danger',
            okTitle: 'YES',
            cancelTitle: 'NO',
            footerClass: 'p-2',
            hideHeaderClose: false,
            centered: true
          }
        )
        .then(value => {
          if (value) {
            axios
              .delete('http://localhost:3000/application/' + user._id)
              .then(res => {
                console.log(res)
                this.getJobposting()
              })
          }
        })
    },
    resetModal () {
      this.form = {
        _id: '',
        Fname: '',
        Lname: '',
        Age: '',
        Job: ''
      }
    },
    declineApp (user) {
      this.boxTwo = ''
      this.$bvModal
        .msgBoxConfirm(
          'ท่านต้องการยกเลิกรับสมัคร ' + user.jobseeker.fname + ' ' + user.jobseeker.lname + ' หรือไม่!!!',
          {
            title: 'กรุณายืนยัน',
            size: 'sm',
            buttonSize: 'sm',
            okVariant: 'danger',
            okTitle: 'YES',
            cancelTitle: 'NO',
            footerClass: 'p-2',
            hideHeaderClose: false,
            centered: true
          }
        )
        .then(value => {
          if (value) {
            axios
              .get('http://localhost:3000/application/decline/' + user._id)
              .then(res => {
                this.getJobposting()
              })
          }
        })
    },
    handleOk (bvModalEvt) {
      bvModalEvt.preventDefault()
      this.handleSubmit()
    },
    handleSubmit () {
      if (
        this.stateFname === false ||
        this.stateLname === false ||
        this.stateAge === false ||
        this.stateJob === false
      ) {
        return
      }
      if (this.form._id !== '') {
        axios
          .put('http://localhost:8080/jobposting', this.form)
          .then(res => {
            console.log(res)
            this.getJobposting()
          })
          .catch(err => {
            console.log(err)
          })
      } else {
        delete this.form._id
        axios
          .post('http://localhost:8080/jobposting', this.form)
          .then(res => {
            console.log(res)
            this.getJobposting()
          })
          .catch(err => {
            console.log(err)
          })
      }
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-user')
      })
    },
    getJobposting () {
      axios
        .get('http://localhost:3000/application')
        .then(res => {
          console.log(res.data)
          this.userList = res.data
        })
        .catch(err => {
          console.log(err)
        })
    }
  },
  mounted () {
    console.log('Vue component is mounted')
    this.getJobposting()
  }
}
</script>
