<template>
  <div><br>
    <b-table striped hover :items="userList" :fields="fields">
      <template v-slot:cell(operation)="data">
        <b-button variant="info" @click="ViewUser(data.item)">view</b-button>
        <template v-if="data.item.status === 'wait'">
          &nbsp;
        </template>
        <template v-else>
          &nbsp;
          <b-button variant="danger" @click="declineApp(data.item)">Decline</b-button>
        </template>
      </template>
    </b-table>
    <b-modal id="view-jobposting" size="lg" hide-footer>
    <template #modal-title>
      View Job Posting Detail
    </template>
    <div class="d-block text-center">
      <h3>Hello From This Modal!</h3>
    </div>
    <b-button class="mt-3" block @click="$bvModal.hide('view-jobposting')">Close Me</b-button>
  </b-modal>
  <b-modal v-if="form != null" id="modal-1" title="รายละเอียดบริษัท" ok-only>
    <p class="my-4">Namejob: {{ form.jobposting.namejob }}<br>
     namecompany: {{ form.jobposting.namecompany }}<br>
     Jobtype: {{ form.jobposting.jobtype }}<br>
     Require: {{ form.jobposting.require }} persons<br>
     Responsibility: {{ form.jobposting.responsibility }}<br>
     Requirements: {{ form.jobposting.requirements }}<br>
     Contact: {{ form.jobposting.contact }}<br>
     Provinces: {{ form.jobposting.provinces }}<br>
     Salary: {{ form.jobposting.salary }} baht
    </p>
    <b-button variant="success">Apply</b-button>
  </b-modal>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  data () {
    return {
      userList: [],
      fields: [
        {
          key: 'jobposting.namejob',
          label: 'Namejob'
        },
        {
          key: 'jobposting.namecompany',
          label: 'Nameconpany'
        },
        {
          key: 'jobposting.jobtype',
          label: 'Jobtype'
        },
        {
          key: 'jobposting.require',
          label: 'Require'
        },
        {
          key: 'operation',
          label: 'Operator'
        }
      ],
      jobposting: {},
      form: null
    }
  },
  methods: {
    ViewUser (user) {
      this.$bvModal.show('modal-1')
      this.form = { ...user }
    },
    handleOk (bvModalEvt) {
      bvModalEvt.preventDefault()
      this.handleSubmit()
    },
    getJobposting () {
      axios
        .get('http://localhost:3000/application')
        .then(res => {
          console.log(res.data)
          this.userList = res.data
        })
        .catch(err => {
          console.log(err)
        })
    }
  },
  mounted () {
    console.log('Vue component is mounted')
    this.getJobposting()
  }
}
</script>
